
.tut-video, a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(54, 58, 58);
    color: white;
    text-align: center;
}
body {
    background-color: black;
    color: white;
}